*{
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #03001C;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 0px 10px;
}
/* .logo{
    margin: 0 120px; 
} */

.logo img {
    max-height:20vh;
}

.navbar ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}

.navbar ul li {
    margin-left: 50px;
    font-size: 24px;
}

.navbar li a {
    color: #ffffff;
    text-decoration: none;
    font-weight:normal;
    background: linear-gradient(to left, #03001C 50%, #B6EADA 50%) right;
    background-size: 250%;
    transition: 0.5s ease-out;
    padding: 10px;
}

.navbar a:hover {
    background-color: #B6EADA;
    color: #000000;
    border-radius: 5px;
    background-position: left;
}

.navbar ul li .contact{
    border: 2px solid#B6EADA;
    padding: 18px 30px;
}

.Container{
    margin: 0 240px;
}

.intro{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #ffffff;
    margin: 0 0 10rem 0;
}


.content h1 {
    font-size: 50px;
    font-weight:300;
}

.content p {
    margin:0 0 10px 0;
    font-size: 24px;
    font-weight:200;
}

.content ul li {
    font-size: 24px;
    font-weight:200;
}

.image img {
    width: 450px;
    height: 600px;
    display: block;
    filter: grayscale(100%);
}
.image img:hover {
    transition: 0.5s;
    filter: grayscale(0%);
}


.buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.btn {
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 24px;
}

.btn.primary {
    padding: 20px 50px;
    background-color: #B6EADA;
    border: 2px solid #B6EADA;
    color: #000000;
}

.btn.primary:hover {
    transition: 0.5s;
    background-color: #03001C;
    color: #ffffff;
}

.btn.secondary {
    padding: 20px 30px;
    background-color: #03001C;
    border: 2px solid #B6EADA;
    color: #ffffff;

}

.btn.secondary:hover {
    transition: 0.5s;
    background-color: #B6EADA;
    color: #000000;
}

.services{
    text-align: center;
    color: #ffffff;
}

.services h1{
    font-size: 50px;
    font-weight:300;
    margin: auto;
}

.services p{
    margin: auto;
    width: 680px;
    font-size: 22px;
    font-weight:200;
    margin-bottom: 40px;
}

.cards{
    color: #ffffff;
}

.rows{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.card1 , .card2 , .card3{
    background-color: #301e67;
    width: 400px;
    height: 300px;
    margin-bottom: 40px;
}
.card1:hover, .card2:hover , .card3:hover{
    background-color: #5B8FB9;
    transition: 0.5s;
}

.card1 img, .card2 img , .card3 img{
    height: 50px;
    width: 45px;
    margin: 50px 0 0 50px;
}

.card1 p, .card2 p , .card3 p{
    font-size: 40px;
    font-weight:300;
    align-items: center;
    margin: 20px 0 0 50px;
}

.detail{
    color: #ffffff;
    margin: 0 0 10rem 0;

}

.detail-rows{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.item1 , .item2 , .item3{
    width: 400px;
    height: 120px;
    margin-bottom: 20px;
}

.item1 h1, .item2 h1 , .item3 h1{
    font-size: 50px;
    line-height: 1px;
    font-weight:300;
    text-align: center;
}

.item1 p, .item2 p , .item3 p{
    line-height: 1px;
    font-size: 20px;
    font-weight:200;
    text-align: center;
}

.project{
    text-align: center;
    color: #ffffff;
}

.project h1{
    font-size: 50px;
    font-weight:300;
}

.projectItems{
    display: flex;
    color: #ffffff;
    gap: 4rem;
    margin: 0 0 100px 0;
}
.projectItems .todo1{
    width: 100%;
    height: 400px;
}
.projectItems .todo1 img {
    width: 100%;
    height: 400px;
    filter: grayscale(100%);
}
.projectItems .todo1 img:hover {
    transition: 0.5s;
    filter: grayscale(0%);
}

.todoContent1{
    width: 50%;
}

.todoContent1 h1 {
    font-size: 35px;
    font-weight:300;
    display: inline;
}

.todoContent1 p {
    font-size: 24px;
    font-weight:200;
    /* text-align: justify; */
}

.todoContent2{
    width: 50%;
}

.todoContent2 h1 {
    font-size: 35px;
    font-weight:300;
    display: inline;
}

.todoContent2 p {
    font-size: 24px;
    font-weight:200;
}

.projectItems .todo2{
    width: 100%;
    height: 400px;
}

.projectItems .todo2 img {
    width: 100%;
    height: 400px;
    filter: grayscale(100%);
}

.projectItems .todo2 img:hover {
    transition: 0.5s;
    filter: grayscale(0%);
}


.getInTouch{
    text-align: center;
    color: #ffffff;
    display: inline;
}

.getInTouch h1{
    font-size: 50px;
    font-weight:300;
}
.getInTouch p{
    width: 100%;
    font-size: 22px;
    font-weight:200;
    margin-bottom: 40px;
}

/* .information{
} */

.formPage{
    display: flex;
    /* form ko input  */
    input, textarea{
        color: #ffffff;
        font-size: 20px;
        }
    button{
        font-size: 20px;     
    }
}

.information .formPage .info{
    width: 100%;
}

.info .fullName, .email, .pNumber{
    background-color: #03001c;
    border: 2px solid #B6EADA;
    width: 95%;
    height: 75px;
    margin: 0 0 25px 0;
    padding: 2rem;
}
 .fullName::placeholder, .email::placeholder, .pNumber::placeholder{
    color: #B6EADA;
    font-size: 20px;
}

.information .formPage .message{
    width: 100%;
}

.formPage .message .yourMessage{
    background-color: #03001c;
    border: 2px solid #B6EADA;
    height: 175px;
    width: 95%;
    margin: 0 0 18px 0;
    padding: 1rem;
}
.message .yourMessage::placeholder{
    color: #B6EADA;
    font-size: 20px;
}

.message .submitButton{
    color: #03001c;
    border: 2px solid #B6EADA;
    background-color: #B6EADA;
    height: 75px;
    width: 95%;
}

.submitButton:hover{
    background-color: #03001c;
    border: 2px solid #B6EADA;
    color: #B6EADA;
    transition: 0.5s;
}

.designer{
    color: #ffffff;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
}