:root {
    /* Colors  */
    --black: #000000;
    --white: #ffffff;
    --darkBlue: #03001C;
    --darkPurple: #301e67;
    --lightPurple: #5B8FB9;
    --cyan: #B6EADA;
  
    /* Fonts */
    --font-primary: "Poppins", sans-serif;
  
    /* font-weight */
    --font-extralight: 200;
    --font-light: 300;
    --font-regular: 400;
  
    /* Font-size */
    --font-size-small: 18px;
    --font-size-medium: 20px;
    --font-size-large: 22px;
    --font-size-extralarge: 24px;
    --font-size-x-large: 35px;
    --font-size-xl-large: 40px;
    --font-size-2xl-large: 50px;
    --font-logo: 20vh;
  }


*{
    box-sizing: border-box;
    font-family: var(--font-primary);
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--darkBlue);
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 0px 10px;
}
/* .logo{
    margin: 0 120px; 
} */
.logo img {
    max-height: var(--font-logo);
}

.navbar ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}

.navbar ul li {
    margin-left: 50px;
    font-size: var(--font-size-extralarge);
}

.navbar li a {
    color: var(--white);
    text-decoration: none;
    font-weight: var(--font-regular);
    background: linear-gradient(to left, var(--darkBlue) 50%, #B6EADA 50%) right;
    background-size: 250%;
    transition: 0.5s ease-out;
    padding: 10px;
}

.navbar a:hover {
    background-color: #B6EADA;
    color: var(--black);
    border-radius: 5px;
    background-position: left;
}

.navbar ul li .contact{
    border: 2px solid var(--cyan);
    padding: 18px 30px;
}

.Container{
    margin: 0 240px;
}

.intro{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: var(--white);
    margin: 0 0 10rem 0;
}

.content h1 {
    font-size: var(--font-size-2xl-large);
    font-weight:var(--font-light);
}

.content p {
    margin:0 0 10px 0;
    font-size: var(--font-size-extralarge);
    font-weight:var(--font-extralight);
}

.content ul li {
    font-size: var(--font-size-extralarge);
    font-weight:var(--font-extralight);
}

.image img {
    width: 450px;
    height: 600px;
    display: block;
    filter: grayscale(100%);
}

.image img:hover {
    transition: 0.5s;
    filter: grayscale(0%);
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.btn {
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: var(--font-size-extralarge);
}

.btn.primary {
    padding: 20px 50px;
    background-color: var(--cyan);
    border: 2px solid var(--cyan);
    color: var(--darkBlue);
}

.btn.primary:hover {
    transition: 0.5s;
    background-color: var(--darkBlue);
    color: var(--white);
}

.download{
    padding: 20px 30px;
    background-color: var(--darkBlue);
    border: 2px solid var(--cyan);
    color: var(--white);
    text-decoration: none;
}

.download:hover{
    transition: 0.5s;
    background-color: var(--cyan);
    color: var(--black);
}

.services{
    text-align: center;
    color: var(--white);
}

.services h1{
    font-size: var(--font-size-2xl-large);
    font-weight:var(--font-light);
    margin: auto;
}

.services p{
    margin: auto;
    width: 680px;
    font-size: var(--font-size-large);
    font-weight:var(--font-extralight);
    margin-bottom: 40px;
}

.cards{
    color: var(--white);
}

.rows{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.card1 , .card2 , .card3{
    background-color: var(--darkPurple);
    width: 400px;
    height: 300px;
    margin-bottom: 40px;
}
.card1:hover, .card2:hover , .card3:hover{
    background-color: var(--lightPurple);
    transition: 0.5s;
}

.card1 img, .card2 img , .card3 img{
    height: 50px;
    width: 45px;
    margin: 50px 0 0 50px;
}

.card1 p, .card2 p , .card3 p{
    font-size: var(--font-size-xl-large);
    font-weight:var(--font-light);
    align-items: center;
    margin: 20px 0 0 50px;
}

.detail{
    color: var(--white);
    margin: 0 0 10rem 0;
}

.detail-rows{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.item1 , .item2 , .item3{
    width: 400px;
    height: 120px;
    margin-bottom: 20px;
}

.item1 h1, .item2 h1 , .item3 h1{
    font-size: var(--font-size-2xl-large);
    line-height: 1px;
    font-weight:var(--font-light);
    text-align: center;
}

.item1 p, .item2 p , .item3 p{
    line-height: 1px;
    font-size: var(--font-size-medium);
    font-weight:var(--font-extralight);
    text-align: center;
}

.project{
    text-align: center;
    color: var(--white);
}

.project h1{
    font-size: var(--font-size-2xl-large);
    font-weight:var(--font-light);
}

.projectItems{
    display: flex;
    color: var(--white);
    gap: 4rem;
    margin: 0 0 100px 0;
}

.projectItems .todo1{
    width: 100%;
    height: 400px;
}

.projectItems .todo1 img {
    width: 100%;
    height: 400px;
    filter: grayscale(100%);
}

.projectItems .todo1 img:hover {
    transition: 0.5s;
    filter: grayscale(0%);
}

.todoContent1{
    width: 50%;
}

.todoContent1 h1 {
    font-size: var(--font-size-x-large);
    font-weight:var(--font-light);
    display: inline;
}

.todoContent1 p {
    font-size: var(--font-size-extralarge);
    font-weight:var(--font-extralight);
    /* text-align: justify; */
}

.todoContent2{
    width: 50%;
}

.todoContent2 h1 {
    font-size: var(--font-size-x-large);
    font-weight:var(--font-light);
    display: inline;
}

.todoContent2 p {
    font-size: var(--font-size-extralarge);
    font-weight:var(--font-extralight);
}

.projectItems .todo2{
    width: 100%;
    height: 400px;
}

.projectItems .todo2 img {
    width: 100%;
    height: 400px;
    filter: grayscale(100%);
}

.projectItems .todo2 img:hover {
    transition: 0.5s;
    filter: grayscale(0%);
}


.getInTouch{
    text-align: center;
    color: var(--white);
    display: inline;
}

.getInTouch h1{
    font-size: var(--font-size-2xl-large);
    font-weight:var(--font-light);
}

.getInTouch p{
    width: 100%;
    font-size: var(--font-size-large);
    font-weight:var(--font-extralight);
    margin-bottom: 40px;
}
/* .information{
} */
.formPage{
    display: flex;
    /* form ko input  */
    input, textarea{
        color: var(--white);
        font-size: var(--font-size-medium);
        }
    button{
        font-size: var(--font-size-medium);     
    }
}

.information .formPage .info{
    width: 100%;
}

.info .fullName, .email, .pNumber{
    background-color: var(--darkBlue);
    border: 2px solid var(--cyan);
    width: 95%;
    height: 75px;
    margin: 0 0 25px 0;
    padding: 2rem;
}

 .fullName::placeholder, .email::placeholder, .pNumber::placeholder{
    color: var(--cyan);
    font-size: var(--font-size-medium);
}

.information .formPage .message{
    width: 100%;
}

.formPage .message .yourMessage{
    background-color: var(--darkBlue);
    border: 2px solid var(--cyan);
    height: 175px;
    width: 95%;
    margin: 0 0 18px 0;
    padding: 1rem;
}

.message .yourMessage::placeholder{
    color: var(--cyan);
    font-size: var(--font-size-medium);
}

.message .submitButton{
    color: var(--darkBlue);
    border: 2px solid var(--cyan);
    background-color: var(--cyan);
    height: 75px;
    width: 95%;
}

.submitButton:hover{
    background-color: var(--darkBlue);
    border: 2px solid var(--cyan);
    color: var(--cyan);
    transition: 0.5s;
}

.designer{
    color: var(--white);
    font-size: var(--font-size-small);
    font-weight: var(--font-light);
    text-align: center;
    margin: auto;
    width: 400px;
    :hover{
        color:var(--cyan);
        cursor:default;
    }
}